@model System.Collections.Generic.IEnumerable<MainSite.ViewModels.UI.Menu.MenuItemViewModel>
<ul class="collapsible expandable">
    @foreach (var item in Model)
    {

        <li>
            <div class="collapsible-header" style="justify-content:space-around;cursor: inherit;">
                <div>
                    @Html.DisplayFor(modelItem => item.Id)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div>
                    @Html.ActionLink("Вверх", "ItemUp", "Menu", new { id = item.Id })
                </div>
                <div>
                    @Html.ActionLink("Вниз", "ItemDown", "Menu", new { id = item.Id })
                </div>
                @Html.ActionLink("Удалить", "Delete", "Menu", new { id = item.Id })
            </div>
            @if (item.Children.Any())
            {
                <div class="collapsible-body" style="display: block; padding: 10px;">
                    @await Html.PartialAsync("_AdminItemMenuPartial.cshtml", item.Children)
                </div>
            }
        </li> 
    }
</ul>