@model Application.Dal.Domain.Menu.MenuItem

@{
    Layout = "_Layout";
    ViewData["Title"] = "Меню - создание";
}

<div class="col s12 m12 card-panel">
    <h5 class="header">Добавление/Редактирование пункта меню</h5>
    <div>
        @using (Html.BeginForm(FormMethod.Post, true, new { @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div asp-validation-summary="ModelOnly" class=""></div>
                <div class="input-field col s12 m12">
                    @Html.TextBoxFor(model => model.Name, new { @class = "validate", type = "text" })
                    <label asp-for="Name" for="Name">Наименование</label>
                </div>
                <div class="input-field col s12 m12">
                    @*<textarea asp-for="Header" id="TextMessage" class="materialize-textarea"></textarea>
                    <label asp-for="Header" class="active" for="TextMessage">Введите текст</label>*@
                    @Html.DropDownListFor(c => c.ParentId, (List<SelectListItem>)ViewBag.MenuId, "--корневой элемент--")
                    <label asp-for="ParentId">Родительский элемент</label>
                </div>
                <div class="file-field input-field col s12 m12">
                    <div class="btn btn-defaultMainSite">
                        <span>Выбрать изображение...</span>
                        <input type="file" name="UploadedFiles">
                    </div>
                    <div class="file-path-wrapper" style="flex-grow: 1;">
                        <input disabled="disabled" type="text" placeholder="Наименование изображения" class="file-path" style="border: none; color: rgb(101, 147, 92);">
                    </div>
                </div>
                <div class="input-field col  s12 m12">
                    @Html.TextBoxFor(model => model.ToolTip, new { @class = "validate", type = "text" })
                    <label asp-for="ToolTip" for="ToolTip">Всплывающая подсказка</label>
                </div>
                <div class="input-field col  s12 m12">
                    <p>
                        <label>
                            @Html.CheckBoxFor(c => c.IsActive, new { @class = "validate", type = "checkbox" })
                            <span>Отображать в списке меню</span>
                        </label>
                    </p>
                </div>
                @*<div class="input-field col s12 m12">
                    @Html.ListBoxFor(model => model.UserRoles, (List<SelectListItem>)ViewBag.Roles, new { Multiple = "Multiple" })
                    <label asp-for="UserRoles">Роли</label>
                </div>
                *@
            </div>
            <div class="input-field m12">
                <input type="submit" value="Сохранить" class="btn btn-defaultMainSite" />
                @Html.ActionLink("Назад", "Index", "Home", null, new { @class = "btn btn-defaultMainSite" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
