@model Application.Dal.Domain.Menu.MenuItem

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Меню - создание";
}

<div class="col s12 m12 card-panel">
    <h5 class="header">Добавление пункта меню</h5>
    <div>
        @using (Html.BeginForm(FormMethod.Post, true))
        {

            <div class="row">
                <div asp-validation-summary="ModelOnly" class=""></div>
                <div class="input-field col s12 m12">
                    @Html.TextBoxFor(model => model.Name, new { @class = "validate", type = "text" })
                    <label asp-for="Name" for="Name">Наименование</label>
                </div>
                <div class="input-field col s12 m12">
                    @*<textarea asp-for="Header" id="TextMessage" class="materialize-textarea"></textarea>
                        <label asp-for="Header" class="active" for="TextMessage">Введите текст</label>*@
                    @Html.DropDownListFor(c => c.ParentId, (List<SelectListItem>)ViewBag.MenuId, "--корневой элемент--")
                    <label asp-for="ParentId">Родительский элемент</label>
                </div>
                <div class="input-field col  s12 m12">
                    <input id="ToolTip" type="text" class="validate" />
                    <label asp-for="ToolTip" for="ToolTip">Всплывающая подсказка</label>
                </div>
                <div class="input-field col  s12 m12">
                    <p>
                        <label>
                            @Html.CheckBoxFor(c => c.IsActive, new { @class = "validate", type = "checkbox" })
                            <span>Отображать в списке меню</span>
                        </label>
                    </p>
                </div>
                <div class="input-field col s12 m12">
                    @Html.ListBoxFor(model => model.UserRoles, (List<SelectListItem>)ViewBag.Roles, new { Multiple = "Multiple " })
                    <label asp-for="UserRoles">Роли</label>
                </div>

            </div>
            <div class="input-field m12">
                <input type="submit" value="Добавить" class="btn btn-defaultMainSite" />
                @Html.ActionLink("Назад", "Index", "Home", null, new { @class= "btn btn-defaultMainSite" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
