@model MainSite.Areas.Admin.Models.Users.UserAddUserRoleModel
@{
    Layout = "_Layout";
}

@using (Html.BeginForm("AddRolesToUser", "Users", FormMethod.Post))
{
    <div class="col s12 m12 card-panel">
        <h5>Установить роль для пользователя</h5>
        <p>@Model.UserName</p>
        @Html.Hidden("id", Model.UserId)
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Роль</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ar in Model.AvailableUserRoles)
                    {
                        var allowed = Model.Allowed.ContainsKey(ar.SystemName) && Model.Allowed[ar.SystemName];
                        <tr>
                            <td>
                                <span>@ar.Name</span>
                            </td>
                            <td>
                                <label>
                                    <input class="allow_@(ar.Id)" type="checkbox" value="@(ar.SystemName)" name="allow_@(Model.UserId)" @(allowed ? " checked=checked" : null) />
                                    <span></span>
                                </label>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="input-field m12">
            <input type="submit" class="btn btn-defaultMainSite" value="Сохранить" />
            @Html.ActionLink("Назад", "List", "Users", null, new { @class = "btn btn-defaultMainSite" })
        </div>
    </div>
}