@model IEnumerable<MainSite.Areas.Admin.Models.Users.UserModel>

@{
    //page title
    ViewBag.PageTitle = "Список пользователей";
    Layout = "_Layout";
}

<script src="~/js/CustomScripts/search.js"></script>


<div class="col m12 card-panel">
    <h5>Список пользователей</h5>
    <p>
        <a href="@Url.Action("Index", "Home")">
            Назад
        </a>
    </p>
    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" class="search" id="search" onkeyup="inputFilter()">
        <label for="search">Поиск</label>
    </div>

    <table class="striped centered highlight">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>System name</th>
                <th>Роли</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="record_list" class="black-text">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.SystemName
                    </td>

                    <td>
                        @string.Join(", ", item.UserRoles)
                    </td>
                    <td>
                        <a class="btn btn-defaultMainSite" href="@Url.Action("AddRolesToUser", "Users", new {id = item.Id})">Установить роль</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
