@using Microsoft.AspNetCore.SignalR
@model IEnumerable<MainSite.Areas.Admin.Models.Users.UserModel>

@{
    //page title
    ViewBag.PageTitle = "Список пользователей";
    Layout = "_Layout";
}

<div class="col s12 m7">
    <h2 class="header">Список пользователей</h2>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <table class=" responsive-table striped highlight">
                    <thead>
                        <tr>
                            <th>Имя пользователя</th>
                            <th>System name</th>
                            <th>IP address</th>
                            <th>Роли</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.UserName
                                </td>
                                <td>
                                    @item.SystemName
                                </td>
                                <td>
                                    @item.IPAddress
                                </td>
                                <td>
                                    @string.Join(", ", item.UserRoles)
                                </td>
                                <td>
                                    <a class="waves-effect waves-light btn" href="@Url.Action("AddRolesToUser","Users",new {id=item.Id})">Управление ролями</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
