@model IEnumerable<MainSite.Areas.Admin.Models.Users.UserRoleModel>

@{
    //page title
    ViewBag.Title = "Роли пользователей";
    Layout = "_Layout";
}

<script src="~/js/CustomScripts/search.js"></script>

<div class="col m12 card-panel">
    <h5>Список ролей</h5>
    <p style="display:flex;">
        <a href="@Url.Action("Create")" style="display:flex; align-items:center;">
            <i class="material-icons">add</i>Добавить роль
        </a>
        <a href="@Url.Action("Index", "Home")" style="margin-left:10px;">
            Назад
        </a>
    </p>


    <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" class="search" id="search" onkeyup="inputFilter()">
        <label for="search">Поиск</label>
    </div>

    <table class="striped centered highlight">
        <thead>
            <tr>
                <th>Роль</th>
                <th>Права</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody id="record_list" class="black-text">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <ul>
                            @foreach (var permission in item.PermissionNames)
                            {
                                <li>@permission</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-defaultMainSite" href="@Url.Action("Edit", "UserRole", new {id = item.Id})">Изменить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
