@model Application.Dal.Domain.Settings.Setting

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Settings", FormMethod.Post, true))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.NameFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </div>
            <div class="form-group">
                @Html.NameFor(model => model.Value)
                @Html.TextBoxFor(model => model.Value)
                @Html.ValidationMessageFor(model => model.Value, "")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
