@model Application.Dal.Domain.Settings.Setting

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<div class="col s12 m12 card-panel">
    <h5>Добавить настройки</h5>
    <hr />
    <div>
        <div class="col-md-4">
            @using (Html.BeginForm("Create", "Settings", FormMethod.Post, true))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="Name">Наименование параметра</label>
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, "")
                </div>
                <div class="form-group">
                    <label for="Value">Значение</label>
                    @Html.TextBoxFor(model => model.Value)
                    @Html.ValidationMessageFor(model => model.Value, "")
                </div>
                <div class="input-field m12">
                    <input type="submit" value="Добавить" class="btn btn-defaultMainSite" />
                    @Html.ActionLink("Назад", "Index", "Settings", null, new { @class = "btn btn-defaultMainSite" })
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
