@model Application.Dal.Domain.News.NewsItem

@{
    ViewData["Title"] = Model.Header;
}

<div class="card-panel row detailsNew">
    <h5>@Model.Header</h5>
    <hr />

    <div class="col m2 s12 bold">
      ФИО автора
    </div>
    <div class="col m4 s12">
        @Html.DisplayFor(model => model.AutorFio)
    </div>

    <div class="col m2 s12 bold">
       Дата создания
    </div>
    <div class="col m4 s12">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>



    <div class="col m2 s12 bold">
       Категория
    </div>
    <div class="col m4 s12">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="col m2 s3 bold">
        Список файлов
    </div>
    <div class="col m4 s9">

        <a data-target='dropdownFiles' class="dropdown-trigger">
            <i class="material-icons">insert_drive_file</i>
        </a>
        <ul id='dropdownFiles' class='dropdown-content'>
            <li><a> Testing.json</a></li>
            @foreach (var item in Model.Files)
            {
                <li><a> @item.FileName</a></li>
            }
        </ul>
    </div>


    <div class="col m2 s12 bold">
       Описание
    </div>
    <div class="col m10 s12">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="col m12 s12">
        @Html.ActionLink("Редактировать", "Edit", "News", new { id = Model.Id }, new { @class = "btn btn-defaultMainSite" })
        <a asp-action="Index" class="btn btn-defaultMainSite">Назад</a>
    </div>
</div>